.page .page-title {
   display: none;
}
.content__default:not(.custom) {
    max-width: 100% !important;
        padding: 0 2.5rem 2rem !important;
}
.page .page-edit, .page .comments-wrapper, .page-nav {
    max-width: 100% !important;
}
*, body{
    font-size: 14px;
}